# Multiple Linear Regression w/ House Pricing

We will learn how to predict house prices given three independent variables, area, rooms, and age, to generate the dependent variable, the price of the house. Linear regression uses the old data to create predictions for the new data.

In [26]:
import pandas as pd
##sk learn library in machine learning, for linear model

from sklearn import linear_model

#Import our dataset
df = pd.read_csv("houses.csv", sep=",")
df

   area  rooms  age   price
0   180      5   10  510000
1   225      4   18  508000
2   260      3    2  548000
3   320      6   10  650000
4   335      4    9  628000
5   345      5   14  632000
6   355      3    0  680000
7   400      4   10  725000

## The following is our feature set:

In [27]:
df[['area', 'rooms', 'age']]

   area  rooms  age
0   180      5   10
1   225      4   18
2   260      3    2
3   320      6   10
4   335      4    9
5   345      5   14
6   355      3    0
7   400      4   10

## The following is our output:

In [28]:
df['price']

0    510000
1    508000
2    548000
3    650000
4    628000
5    632000
6    680000
7    725000
Name: price, dtype: int64

In [29]:
## We define our linear regression like this...

reg = linear_model.LinearRegression()
reg.fit(df[['area', 'rooms', 'age']].values, df['price'])

LinearRegression()

In [30]:
## Our model is ready so let's predict a house value given area, # of rooms, and age

reg.predict([[230, 4, 10]])

array([530243.29284619])

In [31]:
## Let's predict wtih 230 sq meter area, 6 rooms, 0 years old
reg.predict([[230, 6, 0]])

array([586097.7833456])

In [32]:
## You can make several predictions
reg.predict([[230, 4, 10], [230, 6, 0], [355, 3, 20]])

array([530243.29284619, 586097.7833456 , 616657.45791365])

### We can see the coefficients of the multilinear regression formula.

In [33]:
reg.coef_

array([ 1018.99865454, 14893.82374984, -2606.68429997])

In [34]:
reg.intercept_

262365.15030320536

In [37]:
## Let's see the coefficients of multilinear regression formula
## We can model this by using 
## y = a + b1x1 + b2x2 + b3x3 + ...

a = reg.intercept_
b1 = reg.coef_[0]
b2 = reg.coef_[1]
b3 = reg.coef_[2]

x1 = 230
x2 = 4
x3 = 10

##Our formula over here
y = a + b1*x1 + b2*x2 + b3*x3

##Print out y
y

530243.292846188

Special thanks to Yazılım Teknolojileri Akademisi on Udemy for providing this example to teach his students Jupyter Notebook. Check out his course here: https://tinyurl.com/y3u9rdem